<%include header.ejs%>
  	<div class="ui container">
	    <h1>Welcome, Simple blog Generator</h1>
	    <p>This tool provides a simple way to generator a simple blog for you</p>
  	</div>		  
<%include footer.ejs%>